name: Inception

services:
  nginx:
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    depends_on:
      - wordpress
    secrets:
      - ssl-certificate
      - ssl-certificate-private-key
    ports:
      - 443:443
    networks:
      - backend
    volumes:
      - wordpress-files:${WP_PATH}
      - redis-admin-files:/srv/redis-admin:ro
      - showcase-site-files:/srv/showcase-site:ro
    restart: unless-stopped

  wordpress:
    build:
      context: ./requirements
      dockerfile: ./wordpress/Dockerfile
      args:
        - UID=${UID}
        - GID=${GID}
        - WP_PATH=${WP_PATH}
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wordpress-files:${WP_PATH}
      - showcase-site-files:/srv/showcase-site
    networks:
      - backend
    secrets:
      - db-user-credentials
      - wp-user-credentials
      - wp-admin-credentials
    environment:
      WP_PATH: ${WP_PATH}
      WP_DB_HOST: ${DB_HOST}
      WP_DB_PORT: ${DB_PORT}
      WP_DB_NAME: ${DB_NAME}
    restart: unless-stopped

  mariadb:
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    volumes:
      - mariadb-data:${DB_PATH:-/var/lib/mysql}
    networks:
      - backend
    secrets:
      - db-user-credentials
    environment:
      DB_NAME: ${DB_NAME}
    healthcheck:
      test: [ "CMD", "healthcheck.sh" ]
      interval: 5s
      timeout: 30s
      retries: 1
      start_period: 30s
    restart: unless-stopped

  ftp:
    build:
      context: ./requirements/bonus/ftp/
      dockerfile: Dockerfile
      args:
        - UID=${UID}
        - GID=${GID}
    depends_on:
      - wordpress
    volumes:
      - wordpress-files:/srv/ftp
    ports:
      - name: ftp_pasv_port
        target: 21
        published: 21
        protocol: tcp

      # range of ports for ftp transfers
      - "30000-30010:30000-30010/tcp"

    secrets:
      - ftp-user-credentials
    restart: unless-stopped

  adminer:
    build:
      context: ./requirements/bonus/adminer/
      dockerfile: Dockerfile
    networks:
      - backend
    restart: unless-stopped

  redis:
    build:
      context: ./requirements/bonus/redis/
      dockerfile: Dockerfile
    networks:
      - backend
    restart: unless-stopped

  redis-admin:
    build:
      context: ./requirements/bonus/redis-admin/
      dockerfile: Dockerfile
    networks:
      - backend
    volumes:
      - redis-admin-files:/srv/redis-admin
    restart: unless-stopped

secrets:
  ssl-certificate:
    file: ${SECRETS}/${DOMAIN_NAME}.crt
  ssl-certificate-private-key:
    file: ${SECRETS}/${DOMAIN_NAME}.key
  db-user-credentials:
    file: ${SECRETS}/db-user-credentials.txt
  wp-user-credentials:
    file: ${SECRETS}/wp-user-credentials.txt
  wp-admin-credentials:
    file: ${SECRETS}/wp-admin-credentials.txt
  ftp-user-credentials:
    file: ${SECRETS}/ftp-user-credentials.txt

volumes:
  mariadb-data:
    driver_opts:
      type: none
      device: ${HOME}/data/mariadb-data
      o: bind

  wordpress-files:
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress-files
      o: bind

  redis-admin-files:
    driver_opts:
      type: none
      device: ${HOME}/data/redis-admin-files
      o: bind

  showcase-site-files:
    driver_opts:
      type: none
      device: ${HOME}/data/showcase-site-files
      o: bind

networks:
  backend:
