name: Inception

services:
  nginx:
    depends_on:
      - wordpress
    build: ./requirements/nginx/
    secrets:
      - ssl-certificate
      - ssl-certificate-private-key
    ports:
      - 443:443
    networks:
      - inception-backend
    volumes:
      - wordpress-files:${WORDPRESS_PATH}

  wordpress:
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress/
      dockerfile: Dockerfile
    volumes:
      - wordpress-files:${WORDPRESS_PATH}
    networks:
      - inception-backend
    secrets:
      - db-password
      - wp-admin-password
      - wp-user-password
    environment:
      WORDPRESS_PATH: ${WORDPRESS_PATH}
      WORDPRESS_DB_HOST: ${DB_HOST}
      WORDPRESS_DB_PORT: ${DB_PORT}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db-password
      WORDPRESS_ADMIN_NAME: ${WORDPRESS_ADMIN_NAME}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WORDPRESS_ADMIN_PASSWORD_FILE: /run/secrets/wp-admin-password
      WORDPRESS_USER_NAME: ${WORDPRESS_USER_NAME}
      WORDPRESS_USER_EMAIL: ${WORDPRESS_USER_EMAIL}
      WORDPRESS_USER_PASSWORD_FILE: /run/secrets/wp-user-password

  mariadb:
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    volumes:
      - db-data:${DB_PATH:-/var/lib/mysql}
    networks:
      - inception-backend
    secrets:
      - db-password
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db-password

secrets:
  ssl-certificate:
    file: ../secrets/kecheong.42.fr.crt
  ssl-certificate-private-key:
    file: ../secrets/kecheong.42.fr.key
  db-password:
    file: ../secrets/db-password.txt
  wp-admin-password:
    file: ../secrets/wp-admin-password.txt
  wp-user-password:
    file: ../secrets/wp-user-password.txt

volumes:
  db-data:
  wordpress-files:


networks:
  inception-backend:
