name: Inception

services:
  nginx:
    depends_on:
      - wordpress
    image: nginx
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    secrets:
      - ssl-certificate
      - ssl-certificate-private-key
    ports:
      - 443:443
    networks:
      - inception-backend
    volumes:
      - wordpress-files:${WORDPRESS_PATH}

  wordpress:
    depends_on:
      - mariadb
    image: wordpress
    build:
      context: ./requirements/wordpress/
      dockerfile: Dockerfile
      args:
        - UID=${UID}
        - GID=${GID}
        - WORDPRESS_PATH=${WORDPRESS_PATH}
    volumes:
      - wordpress-files:${WORDPRESS_PATH}
    networks:
      - inception-backend
    secrets:
      - db-password
      - wp-admin-password
      - wp-user-password
    environment:
      WORDPRESS_PATH: ${WORDPRESS_PATH}
      WORDPRESS_DB_HOST: ${DB_HOST}
      WORDPRESS_DB_PORT: ${DB_PORT}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db-password
      WORDPRESS_ADMIN_NAME: ${WORDPRESS_ADMIN_NAME}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WORDPRESS_ADMIN_PASSWORD_FILE: /run/secrets/wp-admin-password
      WORDPRESS_USER_NAME: ${WORDPRESS_USER_NAME}
      WORDPRESS_USER_EMAIL: ${WORDPRESS_USER_EMAIL}
      WORDPRESS_USER_PASSWORD_FILE: /run/secrets/wp-user-password

  mariadb:
    image: mariadb
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    volumes:
      - mariadb-data:${DB_PATH:-/var/lib/mysql}
    networks:
      - inception-backend
    secrets:
      - db-password
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db-password

  ftp:
    # TODO: this probably depends on wordpress
    image: ftp
    build:
      context: ./requirements/bonus/ftp/
      dockerfile: Dockerfile
      args:
        - UID=${UID}
        - GID=${GID}
    volumes:
      - wordpress-files:/srv/ftp
    ports:
      - name: ftp_pasv_port
        target: 21
        published: 21
        protocol: tcp

      # range of ports for transfers
      - "30000-30010:30000-30010/tcp"

    secrets:
      - ftp-user-credentials

  adminer:
    image: adminer
    build:
      context: ./requirements/bonus/adminer/
      dockerfile: Dockerfile
    networks:
      - inception-backend

secrets:
  ssl-certificate:
    file: ${SECRETS}/kecheong.42.fr.crt
  ssl-certificate-private-key:
    file: ${SECRETS}/kecheong.42.fr.key
  db-password:
    file: ${SECRETS}/db-password.txt
  wp-admin-password:
    file: ${SECRETS}/wp-admin-password.txt
  wp-user-password:
    file: ${SECRETS}/wp-user-password.txt
  ftp-user-credentials:
    file: ${SECRETS}/ftp-user-credentials.txt

volumes:
  mariadb-data:
    driver_opts:
      type: none
      device: /home/kecheong/data/mariadb-data
      o: bind

  wordpress-files:
    driver_opts:
      type: none
      device: /home/kecheong/data/wordpress-files
      o: bind

networks:
  inception-backend:
