# MariaDB config files are read in the order of
# /etc/my.cnf -> /etc/mysql/my.cnf -> ~/.my.cnf

# Currently it reads /etc/mysql/my.cnf which includes all .cnf from
# /etc/mysql/conf.d/ and /etc/mysql/mariadb.conf.d/

# /etc/mysql/conf.d/ has mysql.cnf which is empty, and mysqldump.cnf which
# I don't think is necessary

# /etc/mysql/mariadb.conf.d/ has many .cnf files, which seems like where
# most of the options are coming from
# 50-client.cnf
# 50-server.cnf
# 50-mariadb-clients.cnf
# 50-mysqld_safe.cnf
# 60-galera.cnf
# provider_bzip2.cnf
# provider_lz4.cnf
# provider_lzma.cnf
# provider_lzo.cnf
# provider_snappy.cnf

# I will overwrite it with this my.cnf and rely on the default values.
# hope it works.

[mariadb]

[mariadbd]
basedir = /usr
skip_ssl

[server]
bind-address = 0.0.0.0
port = 3306

[client-server]
# port = 3306
skip_ssl

[client]
# host = 127.0.0.1
# port = 3306
# skip_ssl
