/* TODO: refactor all these styles one day maybe lmao */

:root {
  --main-background-color: whitesmoke;
}

body {
  background-color: var(--main-background-color);
  margin: 0;
  padding: 0;
}

.jetbrains-mono-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
}

section {
  margin-right: 3vw;
  margin-left: 3vw;
}

#box {
  float: left;
  width: 50%;
}

#nav-bar {
  background-color: whitesmoke;
  width: 100%;
  line-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  box-shadow:
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}

nav div {
  flex: 4;
}

#about-me {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

#projects {
  display: flex;
  flex-direction: column;
}

#cat {
  display: flex;
  flex-direction: column;
}

.title-break {
  width: 2rem;
  height: 5px;
  background-color: black;
  border: none;
}

.item-break {
  width: 100%;
  height: 5px;
  background-color: lightgrey;
  border: none;
}

.section-break {
  width: 100%;
  height: 5px;
  background-color: black;
  border: none;
}

#introduction {
  margin-left: 20vw;
  margin-right: 20vw;
}

h1 {
  margin-top: 15vh;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
}

p {
  text-align: center;
}

ul {
  margin-left: 20vw;
  margin-top: 10vh;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li i {
  font-size: 6rem;
}

.description {
  color: darkslategrey;
}

#languages-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

.demo_gif {
  max-width: 100%;
  height: auto;
}

div {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1vw;
}

.grid {
  display: grid;
  place-items: center;
}

.nav-button {
  color: black;
}

a i {
  font-size: 2rem;
}

a {
  background-color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 1;
}

.github-link {
  display: inline;
  text-align: center;
  background-color: black;
  line-height: 1.5rem;
  border-radius: 1rem;
  color: white;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#name {
  flex-grow: 3;
}